$primary-color: #9356DC;
$secondary-color: #FF79DA;
$tertiary-color: #99E2D0;
$green-font: #008766;
$main-bg-color: #F3F3F3;
$grey: #353535;

/****** General ******/

* {
    margin: 0;
    font-family: 'Roboto', sans-serif;
}

body {
    display: flex;
    flex-direction: column;
}

h2 {
    font-size: 24px;
    font-weight: 700;
}

a {
    color: inherit;
    text-decoration: none;
}

section {
    display: flex;
    flex-direction: column;
    padding: 40px 20px;
    gap: 18px;

    @media (min-width: 1020px) {
        padding: 40px 10%;
    }
    
    @media (min-width: 1440px) {
        padding: 40px 15%;
    }
}

/****** Header ******/

header {
    nav {
        display: flex;
        justify-content: center;
        align-items: center;
        position: relative;
        z-index: 1;
        box-shadow: 0 2px 4px rgba(black, 0.15);
        padding: 30px 0 15px 0;

        @media (min-width: 768px) {
            padding: 30px 0;
        }

        .back_button {
            position: absolute;
            left: 25px;

            .fa-arrow-left {
                font-size: 24px;
            }
        }
    }

    form {
        display: flex;
        justify-content: center;
        background: darken($main-bg-color, 3.5%);
        padding: 15px 0;
        color: $grey;

        input {
            width: 175px;
            border: none;
            outline: none;
            background-color: darken($main-bg-color, 3.5%);
            padding-left: 15px;
            text-align: center;
            color: $grey;
            font-size: 18px;
            font-weight: 500;
        }

        input::placeholder {
            opacity: 1;
            color: $grey;
        }
    }
}

/****** Footer ******/

footer {
    display: flex;
    flex-direction: column;
    gap: 15px;
    background: $grey;
    padding: 20px 0 20px 20px;
    color: white;

    @media (min-width: 1024px) {
        height: 114px;
        flex-direction: row-reverse;
        align-items: flex-end;
        gap: 100px;
        padding: 0 20px 20px 0;
    }

    h2 {
        font-family: 'Shrikhand', serif;
        font-size: 20px;
        font-weight: 400;
    }

    .links {
        display: flex;
        flex-direction: column;
        gap: 10px;

        @media (min-width: 1024px) {
            flex-direction: row;
            gap: 25px;
        }

        &__icon {
            display: flex;

            i {
                width: 25px;
            }
        }

        &__other {
            display: flex;
            flex-direction: column;
            gap: 10px;

            @media (min-width: 1024px) {
                flex-direction: row;
            }
        }
    }
}

/****** Introduction ******/

.intro {
    align-items: center;
    background: $main-bg-color;
    text-align: center;

    p {
        margin-bottom: 10px;
        font-size: 18px;
        font-weight: 300;
    }

    @media (min-width: 1024px) {
        h2 {
            font-size: 40px;
        }
    }
}

/****** Information ******/

.information {
    &__cards {
        display: grid;
        grid-template-columns: 1fr;
        gap: 18px;
        padding-top: 10px;

        @media (min-width: 768px) {
            display: grid;
            grid-template-columns: 1fr 1fr 1fr;
        }

        .info {
            display: flex;
            flex-direction: row;
            align-items: center;
            position: relative;
            padding-left: 10px;

            &__num {
                height: 24px;
                width: 24px;
                display: flex;
                justify-content: center;
                align-items: center;
                position: absolute;
                left: -5px;
                border-radius: 100%;
                background: $primary-color;
                color: white;
                font-size: 14px;
                font-weight: 500;
            }
            
            &__text {
                height: 100%;
                width: 100%;
                display: flex;
                align-items: center;
                gap: 30px;
                border-radius: 20px;
                box-shadow: 0 4px 15px rgba(black, 0.15);
                box-sizing: border-box;
                background: $main-bg-color;
                padding: 25px 35px;
                font-weight: 500;

                & i {
                    color: #7E7E7E;
                }
                
                & .fa-store{
                    color: $primary-color;
                }
            }
        }
    }
}

/****** Restaurants ******/

.restaurants {
    background: $main-bg-color;

    &__cards {
        display: grid;
        grid-template-columns: 1fr;
        gap: 20px;

        @media (min-width: 768px) {
            grid-template-columns: 1fr 1fr;
        }
        
        @media (min-width: 1440px) {
            gap: 40px 100px;
        }

        .card {
            height: 250px;
            max-width: 100%;
            display: flex;
            flex-direction: column;
            position: relative;
            box-shadow: 0 4px 15px rgba(black, 0.10);
            border-radius: 15px;

            & img {
                height: 175px;
                border-radius: 15px 15px 0 0;
                object-fit: cover;
            }

            &__new {
                height: 30px;
                width: 80px;
                display: flex;
                justify-content: center;
                align-items: center;
                position: absolute;
                top: 15px;
                right: 10px;
                border-radius: 2px;
                background: $tertiary-color;
                color: $green-font;
                font-size: 14px;
                font-weight: 500;
            }

            &__content {
                display: flex;
                flex-direction: row;
                justify-content: space-between;
                align-items: center;
                padding: 15px 25px 0 15px;

                h3 {
                    font-size: 18px;
                }

                p {
                    padding-top: 2.5px;
                    font-size: 17px;
                    font-weight: 300;
                }
            }
        }
    }
}