/* General */
* {
  margin: 0;
  font-family: "Roboto", sans-serif;
}

body {
  display: flex;
  justify-content: center;
}

h1, h2 {
  font-size: 24px;
  font-weight: 700;
}

a {
  color: inherit;
  text-decoration: none;
}

section {
  display: flex;
  flex-direction: column;
  padding: 40px 20px;
  gap: 18px;
}
@media (min-width: 1024px) {
  section {
    padding: 40px 180px;
  }
}

.button {
  height: 50px;
  max-width: fit-content;
  display: flex;
  align-items: center;
  border-radius: 25px;
  background: linear-gradient(#FF79DA, #9356DC);
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.25);
  padding: 0 20px;
  color: white;
  font-size: 16px;
  font-weight: 500;
}

.main-container {
  width: 100%;
}
@media (min-width: 1024px) {
  .main-container {
    width: 100%;
    max-width: 1440px;
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
  }
}

/* Header */
header nav {
  display: flex;
  justify-content: center;
  position: relative;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.15);
  padding: 30px 0 15px 0;
}
header form {
  display: flex;
  justify-content: center;
  background: #eaeaea;
  padding: 15px 0;
  color: #353535;
}
header form input {
  width: 150px;
  border: none;
  outline: none;
  text-align: center;
  background-color: #eaeaea;
  padding-left: 15px;
  color: #353535;
  font-size: 16px;
  font-weight: 500;
}
header form input::placeholder {
  opacity: 1;
}

/* Footer */
footer {
  display: flex;
  flex-direction: column;
  background: #353535;
  padding: 20px;
  color: white;
  gap: 15px;
}
@media (min-width: 1024px) {
  footer {
    height: 114px;
    flex-direction: row-reverse;
    align-items: flex-end;
    gap: 100px;
  }
}
footer h2 {
  font-family: "Shrikhand", serif;
  font-size: 20px;
  font-weight: 400;
}
footer .links {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
@media (min-width: 1024px) {
  footer .links {
    flex-direction: row;
    gap: 25px;
  }
}
footer .links__icon {
  display: flex;
}
footer .links__icon i {
  width: 30px;
}
footer .links__other {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
@media (min-width: 1024px) {
  footer .links__other {
    flex-direction: row;
  }
}

/* introduction */
.intro {
  align-items: center;
  text-align: center;
  background: #F3F3F3;
}
.intro p {
  font-size: 18px;
  font-weight: 300;
}
.intro .button {
  margin-top: 10px;
}

/* information */
.info__cards {
  display: grid;
  grid-template-columns: 1fr;
  padding-top: 10px;
  gap: 18px;
}
@media (min-width: 768px) {
  .info__cards {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
  }
}
.info__cards .card {
  display: flex;
  flex-direction: row;
  align-items: center;
  position: relative;
  padding-left: 10px;
}
.info__cards .card__num {
  height: 24px;
  width: 24px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  left: -5px;
  border-radius: 100%;
  background: #9356DC;
  color: white;
  font-size: 14px;
  font-weight: 500;
}
.info__cards .card__text {
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  box-sizing: border-box;
  border-radius: 20px;
  background: #F3F3F3;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.15);
  padding: 25px 35px;
  font-weight: 500;
  gap: 30px;
}
.info__cards .card__text i {
  color: #7E7E7E;
}
.info__cards .card__text .fa-store {
  color: #9356DC;
}

/* Restaurants */
.restaurants {
  background: #F3F3F3;
}
.restaurants__cards {
  display: grid;
  grid-template-columns: 1fr;
  gap: 20px;
}
@media (min-width: 768px) {
  .restaurants__cards {
    grid-template-columns: 1fr 1fr;
  }
}
.restaurants__cards .card {
  height: 250px;
  max-width: 100%;
  display: flex;
  flex-direction: column;
  position: relative;
  border-radius: 15px;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1);
}
.restaurants__cards .card img {
  height: 175px;
  object-fit: cover;
  border-radius: 15px 15px 0 0;
}
.restaurants__cards .card__new {
  height: 30px;
  width: 80px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 15px;
  right: 10px;
  border-radius: 2px;
  background: #99E2D0;
  color: #008766;
  font-size: 14px;
  font-weight: 500;
}
.restaurants__cards .card__content {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 15px 25px 0 15px;
}
.restaurants__cards .card__content h3 {
  font-size: 18px;
}
.restaurants__cards .card__content p {
  padding-top: 2.5px;
  font-size: 17px;
  font-weight: 300;
}
.restaurants__cards .card__content i {
  color: #101010;
  font-size: 24px;
}